[Unit]
Description=OpenKat boefje in Docker-compose ({{ openkat_service_root }}/boefje)
Requires=docker.service
After=docker.service
Requires=traefik.service
Requires=docker-compose-networks.service
Requires=openkat_bytes.service
Requires=openkat_rabbitmq.service

[Service]
Restart=always
WorkingDirectory={{ openkat_service_root }}/boefje
TimeoutStartSec=2min
ExecStartPre={{ docker_binary }} compose  -f {{ openkat_service_root }}/boefje/docker-compose.yml pull
ExecStart={{ docker_binary }} compose -f {{ openkat_service_root }}/boefje/docker-compose.yml up
ExecStop={{ docker_binary }} compose -f {{ openkat_service_root }}/boefje/docker-compose.yml stop

[Install]
WantedBy=multi-user.target