[Unit]
Description=OpenKat Rocky Worker in Docker-compose ({{ openkat_service_root }}/rockyworker)
Requires=docker.service
After=docker.service
Requires=docker-compose-networks.service
Requires=openkat_postgres.service
Requires=openkat_rabbitmq.service

[Service]
Restart=always
WorkingDirectory={{ openkat_service_root }}/rockyworker
TimeoutStartSec=2min
ExecStartPre={{ docker_binary }} compose  -f {{ openkat_service_root }}/rockyworker/docker-compose.yml pull
ExecStart={{ docker_binary }} compose -f {{ openkat_service_root }}/rockyworker/docker-compose.yml up
ExecStop={{ docker_binary }} compose -f {{ openkat_service_root }}/rockyworker/docker-compose.yml stop

[Install]
WantedBy=multi-user.target
